$sky: #CAEBF2;
$carbon: #A9A9A9;
$watermelon: #FF3B3F;
$neutral: #EFEFEF;

* {
  padding: 0;
  margin: 0;
}

.center {
  align-self: center;
  text-align: center;
}

nav {
  background: $neutral;
  height: 35px;
  ul {
    text-align: right;
    a {
      padding: 0 9px;
      font-family: "Futura Bk BT";
      font-size: 2em;
      text-decoration: none;
      color: #464646;
    }
    a:hover {
      color: $watermelon;
    }
  }
}

header {
  height: 280px;
  background: url("../img/bg8.png");

  #bluedots {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    max-width: 80px;
  }

  #logo {
    max-width: 13%;
    margin-left: 140px;
    margin-top: 30px;
    transform: rotate(-8deg);
  }

  h1 {
    font-size: 4em;
    color: deepskyblue;
    padding: 82px;
    text-align: center;
    font-family: 'Franklin Gothic Book', arial, verdana, sans-serif
  }
}

#bar {
  img {
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  height: 20px;
  background: $watermelon;
}

.middle {
  background: url("../img/bg10.png");
  height: 1000px;

  #middleContent {
    p {
      color: #55aab1;
      padding-top: 1%;
      font-family: "Arial";
      font-size: 1.4em;
      margin-right: 10%;

      span {
        a {
          color: #215afa;
          text-decoration: none;
        }
      }
    }
  }
  h2 {
    font-family: "Franklin Gothic Book", arial, verdana, sans-serif;
    color: #515151;
    font-size: 5.7em;
    width: 26%;
    border-bottom: solid;
    border-color: $carbon;
    border-width: thick;
  }

  #submit {
    min-width: 85px;
    min-height: 30px;
  }

  #middleContent {
    margin-left: 150px;
  }
}

footer {
  p {
    text-align: center;
    color: whitesmoke;
    font-size: 1.3em;
    font-family: "Arial";
  }

  background: url("../img/bg10.png");
  height: 190px;

  .footerImg {
    text-align: center;
    padding-top: 10px;

    img {
      opacity: 0.6;
      padding-left: 10px;
      padding-right: 10px;
    }

    img:hover {
      opacity: 1.0;
    }
  }
}

