.middle {
    text-align: center;
}

.middle img {
    max-width: 14%;
}

.middle a {
    text-decoration: none;
    color: dimgrey;
    margin: 0;
    border: 0;
}

.middle h1 {
    margin: 0;
    border: 0;
    font-size: 150%;
}

#players h1 {
    font-size: 3em;
}

.middle ul {
    font-size: 265%;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

#welcome {
    margin: 0.7em;
    color: dimgrey;
    margin: 0;
    border: 0;
}